:root {
  /* Color Palette */

}

::-webkit-scrollbar {
    display: none;
}

@font-face {
  font-family: russo-one;
  src: url("fonts/russo-one/RussoOne-Regular.ttf");
}

html {
  width: 100%;
  height: 100%;
  background: black
}

main {
  width: 100%;
  max-width: 1000px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 0px;
  z-index: 1000;
}

h1 {
  color: white;
  font-family: russo-one;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-size: 30pt;
}

h3 {
  color: white;
  font-family: sans-serif;
  font-size: 18pt;
  text-align: center;
  width: 100%;
}

p {
  color: white;
  font-family: sans-serif;
  padding: 5px;
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0; left:0; right:0; bottom:0;
  width: 100%;
  height: 100%;
  display:block;
}

.stars {
  background:#000 url(images/stars.png) repeat top center;
  background-size: cover;
  width: 100%;
  z-index:0;
}

.clouds{
  background:transparent url(images/clouds3.png) repeat top center;
  z-index:3;
}

/* ===================================
   Responsive Web Design
   =================================== */
[class*="col-"] {
  float: left;
  width: 100%;
}

.row {
  width: 100%;
  margin-bottom: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

img {
  width: 25%;
  margin: 0 auto;
  display: block;
}

@media only screen and (min-width: 800px) {
  h1 {
    font-size: 50pt;
  }

  /* ===================================
     Responsive Web Design
     =================================== */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  [class*="col-"] {
    float: left;
  }

  /* ===================================
     Parallax Moving Background
     =================================== */
  @keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  @-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  @-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  @-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }

  @keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
  }
  @-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
  }
  @-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
  }
  @-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
  }

  .twinkling{
    background:transparent url(images/twinkling.png) repeat top center;
    z-index:1;

    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
  }

  .clouds{
    -moz-animation:move-clouds-back 200s linear infinite;
    -ms-animation:move-clouds-back 200s linear infinite;
    -o-animation:move-clouds-back 200s linear infinite;
    -webkit-animation:move-clouds-back 200s linear infinite;
    animation:move-clouds-back 200s linear infinite;
  }
}
