:root {
  /* Color Palette */

}

@font-face {
  font-family: russo-one;
  src: url("fonts/russo-one/RussoOne-Regular.ttf");
}

html {
}

main {
  width: 100%;
  max-width: 1000px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  z-index: 1000;
}

h1 {
  color: white;
  font-family: russo-one;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-size: 50pt;
}

p {
  color: white;
  font-family: sans-serif;
}

/* ===================================
   Parallax Moving Background
   =================================== */

@-webkit-keyframes STAR-MOVE {
 	from {
 		background-position: 5% 5%
 	}
 	to {
 		background-position: 1300% 600%
  }
}

#background {
  background: black url("images/background.png") repeat 5% 5%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 100;

  -webkit-animation-name: STAR-MOVE;
  -webkit-animation-duration: 200s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

#midground {
  background: url("images/midground.png") repeat 20% 20%;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 200;

	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 150s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}

#foreground {
	background: url("images/foreground.png") repeat 35% 35%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 300;

	-webkit-animation-name: STAR-MOVE;
	-webkit-animation-duration: 100s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}
