:root {
  /* Color Palette */

}

@font-face {
  font-family: russo-one;
  src: url("fonts/russo-one/RussoOne-Regular.ttf");
}

html {
}

main {
  width: 100%;
  max-width: 1000px;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
  z-index: 1000;
}

h1 {
  color: white;
  font-family: russo-one;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font-size: 50pt;
}

p {
  color: white;
  font-family: sans-serif;
}

.stars, .twinkling, .clouds {
  position:absolute;
  top:0; left:0; right:0; bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(images/stars.png) repeat top center;
  width: 100%;
  z-index:0;
}

.clouds{
  background:transparent url(images/clouds3.png) repeat top center;
  z-index:3;
}

@media only screen and (min-width: 800px) {
  /* ===================================
     Parallax Moving Background
     =================================== */

  @keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  @-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  @-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }
  @-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
  }

  @keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
  }
  @-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
  }
  @-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
  }
  @-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
  }

  .twinkling{
    background:transparent url(images/twinkling.png) repeat top center;
    z-index:1;

    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
  }

  .clouds{
    -moz-animation:move-clouds-back 200s linear infinite;
    -ms-animation:move-clouds-back 200s linear infinite;
    -o-animation:move-clouds-back 200s linear infinite;
    -webkit-animation:move-clouds-back 200s linear infinite;
    animation:move-clouds-back 200s linear infinite;
  }
}
